{% extends 'base.html' %}

{% block title %}
Contacts
{% endblock %}

{% block content %}
<div class="container mt-30" >
    <h1 class="mt-5">Контакти</h1>

    <div class="row-4">
        <ul class="list-group col-4">
            <li class="list-group-item">Телефон: <a href="tel:+380573814123">+380573814123</a></li>
            <li class="list-group-item">Email: <a href="mailto:vladyslav_hlyshchuk@gmail.com">vladyslav_hlyshchuk@gmail.com</a></li>
            <li class="list-group-item"><a class="btn btn-primary" href="https://github.com/VladyslavHlushchuk">Github</a></li>
        </ul>
    </div>
</div>
{% endblock %}