{% extends 'base.html' %}

{% block title %}
Study
{% endblock %}

{% block content %}
<div  class="container mt-30">
 <h2>Мій досвід, навчання та навички</h2>
    <section>
        <br>
        <p> Говорячи про свій досвід, я хочу сказати, що моя бажання вчитися та розвиватися привело мене до
            володіння JavaScript, PHP та Python, і у мене є деякий досвід роботи з C++ та Java.
            Також, під час навчання університеті я отримав знання про Linux та Bash scripting,
            разом з вивченням різних популярних фреймворків програмування, таких як Flask у Python або Spring Boot у Java. </p>

        <p> Також під час проходження курсу "Project Manager в Genius Space" я здобув важливі навички управління проектами.
            Вивчив стратегії планування, комунікації з командою та використання програмних інструментів для моніторингу прогресу.
            Цей досвід розширив мої можливості у сфері управління проектами та підготував для нових викликів у цій області.</p>

        <p>Мій сертифікат за курс "Project Manager в Genius Space": <br>
        <a href="https://drive.google.com/file/d/1vCiwM09znSrF_KMV-a4Xl9qKKoZeDjfx/view" target="_blank">Переглянути сертифікат</a></p>
    </section>

</div>
{% endblock %}